/*Red border-surrounding the text*/
body {
	border:5px solid red;
}

/*Code for the top header*/
header{
	background-color:red;
	text-color:black;
	text-align:center;
	padding:10px;
}

div1	{
	background-color:red;
	text-color:black;
	border:5px solid red;
	}
