/*Red border-surrounding the text*/
body {
	border:5px solid red;
}

/*Code for the top header*/
header{
	background-color:red;
	text-color:black;
	text-align:center;
	padding:10px;
}

/*Code to use on most text in the website*/
text_one {
	background-color:red;
	text-color:black;
	border:5px solid red;
}
